.outer-panel {
  padding: 8px; 
}

.panel-vacio {
  min-height: 180px;
  padding: 12px;
  margin: 0;
}
  
.flex-container {
  display: flex;
}

.flex-child {
    flex: 1;
} 

h4 {
  margin-top: 2px;
}

